<a href="https://colab.research.google.com/github/shehbaz1033/BigDataAnalysisProject/blob/main/BigDataProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('shahbazfinalresult.csv')
df2 = pd.read_csv('aditya_final_result.csv')
df3 = pd.read_csv('amey_sample_final.csv')
df4 = pd.read_csv('Saylee_Pawar_Data.csv')

In [ ]:
df1 = pd.read_csv('SSR-final.csv')

In [ ]:
df.info()
df1.info()
df2.info()
df3.info()
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB

In [ ]:
import pandas as pd

# List of columns to convert to float
float_columns = ['DepTime', 'ArrTime', 'ActualElapsedTime', 'ArrDelay', 'DepDelay', 'Distance']

# Convert specified columns to float
df1[float_columns] = df1[float_columns].astype(float)

# Verify the changes
print(df1.dtypes)

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime                int64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
Cancelled              int64
Diverted               int64
Delayed               object
dtype: object

In [ ]:
df1.drop('AirTime', axis=1, inplace=True)

In [ ]:
df2.drop('TailNum', axis=1, inplace=True)
df2.drop('AirTime', axis=1, inplace=True)
df2.drop('TaxiIn', axis=1, inplace=True)
df2.drop('TaxiOut', axis=1, inplace=True)
df2.drop('CancellationCode', axis=1, inplace=True)
df2.drop('CarrierDelay', axis=1, inplace=True)
df2.drop('WeatherDelay', axis=1, inplace=True)
df2.drop('NASDelay', axis=1, inplace=True)
df2.drop('SecurityDelay', axis=1, inplace=True)
df2.drop('LateAircraftDelay', axis=1, inplace=True)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB

In [ ]:
df3.drop('TailNum', axis=1, inplace=True)
df3.drop('AirTime', axis=1, inplace=True)
df3.drop('taxiln', axis=1, inplace=True)
df3.drop('TaxiOut', axis=1, inplace=True)
df3.drop('CancellationCode', axis=1, inplace=True)
df3.drop('CarrierDelay', axis=1, inplace=True)
df3.drop('WeatherDelay', axis=1, inplace=True)
df3.drop('NASDelay', axis=1, inplace=True)
df3.drop('SecurityDelay', axis=1, inplace=True)
df3.drop('LateAircraftDelay', axis=1, inplace=True)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayofWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDeptime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CSRArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedtime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB

In [ ]:
import pandas as pd

# List of columns to convert to float
float_columns = ['DepTime', 'ArrTime', 'ActualElapsedtime', 'ArrDelay', 'DepDelay', 'Distance']

# Convert specified columns to float
df3[float_columns] = df3[float_columns].astype(float)

# Verify the changes
print(df3.dtypes)

Year                   int64
Month                  int64
DayofMonth             int64
DayofWeek              int64
DepTime              float64
CRSDeptime             int64
ArrTime              float64
CSRArrTime             int64
UniqueCarrier         object
FlightNum              int64
ActualElapsedtime    float64
CRSElapsedTime         int64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance             float64
taxiln                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
Delayed               object
dtype: object

In [ ]:
df4.drop('TailNum', axis=1, inplace=True)
df4.drop('AirTime', axis=1, inplace=True)
df4.drop('TaxiIn', axis=1, inplace=True)
df4.drop('TaxiOut', axis=1, inplace=True)
df4.drop('CancellationCode', axis=1, inplace=True)
df4.drop('CarrierDelay', axis=1, inplace=True)
df4.drop('WeatherDelay', axis=1, inplace=True)
df4.drop('NASDelay', axis=1, inplace=True)
df4.drop('SecurityDelay', axis=1, inplace=True)
df4.drop('LateAircraftDelay', axis=1, inplace=True)

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            29474 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            29410 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  29410 non-null  float64
 11  CRSElapsedTime     29978 non-null  float64
 12  ArrDelay           29410 non-null  float64
 13  DepDelay           29474 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  int64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
dtypes: float64(6), int64(10), object(3)
memory usage: 4.3+ MB

In [ ]:
# Add a new column 'Delayed' based on conditions
df4['Delayed'] = df4.apply(lambda row: 'N' if row['ArrDelay'] <= 0 and row['DepDelay'] <= 0 else 'Y', axis=1)

# Display the DataFrame with the new 'Delayed' column
df4.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled,Diverted,Delayed
0,1997,3,8,6,1444.0,1445,1610.0,1615,TW,353,146.0,150.0,-5.0,-1.0,SRQ,STL,903,0,0,N
1,1997,8,1,5,538.0,540,653.0,648,NW,219,75.0,68.0,5.0,-2.0,BIS,MSP,386,0,0,Y
2,1997,5,23,5,1034.0,1033,1211.0,1220,AA,1699,97.0,107.0,-9.0,1.0,DFW,STL,551,0,0,Y
3,1997,8,28,4,1330.0,1330,1500.0,1449,UA,1170,90.0,79.0,11.0,0.0,BIL,DEN,455,0,0,Y
4,1997,8,2,6,730.0,730,843.0,843,DL,1569,73.0,73.0,0.0,0.0,SDF,ATL,321,0,0,N

In [ ]:
df4['DepTime'] = df4['DepTime'].fillna(df4['DepTime'].mean())
df4['ArrTime'] = df4['ArrTime'].fillna(df4['ArrTime'].mean())
df4['ActualElapsedTime'] = df4['ActualElapsedTime'].fillna(df4['ActualElapsedTime'].mean())
df4['CRSElapsedTime'] = df4['CRSElapsedTime'].fillna(df4['CRSElapsedTime'].mean())
df4['ArrDelay'] = df4['ArrDelay'].fillna(df4['ArrDelay'].mean())
df4['DepDelay'] = df4['DepDelay'].fillna(df4['DepDelay'].mean())

In [ ]:
df4['Distance'] = df4['Distance'].astype(float)

# Convert 'CRSElapsedTime' column to int
df4['CRSElapsedTime'] = df4['CRSElapsedTime'].astype(int)

In [ ]:
df3.rename(columns={'CSRArrTime': 'CRSArrTime'}, inplace=True)

In [ ]:
df3.rename(columns={'DayofWeek': 'DayOfWeek'}, inplace=True)

In [ ]:
df3.rename(columns={'CRSDeptime': 'CRSDepTime'}, inplace=True)

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB

In [ ]:
df3.rename(columns={'ActualElapsedtime': 'ActualElapsedTime'}, inplace=True)

In [ ]:
df5 = pd.read_csv('1993result.csv')

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               30000 non-null  int64
 1   Month              30000 non-null  int64
 2   DayofMonth         30000 non-null  int64
 3   DayOfWeek          30000 non-null  int64
 4   DepTime            30000 non-null  float64
 5   CRSDepTime         30000 non-null  int64
 6   ArrTime            30000 non-null  float64
 7   CRSArrTime         30000 non-null  int64
 8   UniqueCarrier      30000 non-null  object
 9   FlightNum          30000 non-null  int64
 10  ActualElapsedTime  30000 non-null  float64
 11  CRSElapsedTime     30000 non-null  int64
 12  ArrDelay           30000 non-null  float64
 13  DepDelay           30000 non-null  float64
 14  Origin             30000 non-null  object
 15  Dest               30000 non-null  object
 16  Distance           30000 non-null  float64
 17  Cancelled          30000 non-null  int64
 18  Diverted           30000 non-null  int64
 19  Delayed            30000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 4.6+ MB

In [ ]:
import pandas as pd

# Combine all DataFrames
combined_df = pd.concat([df, df1, df2, df3, df4, df5], ignore_index=True)

# Verify the changes
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180000 entries, 0 to 179999
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               180000 non-null  int64
 1   Month              180000 non-null  int64
 2   DayofMonth         180000 non-null  int64
 3   DayOfWeek          180000 non-null  int64
 4   DepTime            180000 non-null  float64
 5   CRSDepTime         180000 non-null  int64
 6   ArrTime            180000 non-null  float64
 7   CRSArrTime         180000 non-null  int64
 8   UniqueCarrier      180000 non-null  object
 9   FlightNum          180000 non-null  int64
 10  ActualElapsedTime  180000 non-null  float64
 11  CRSElapsedTime     180000 non-null  int64
 12  ArrDelay           180000 non-null  float64
 13  DepDelay           180000 non-null  float64
 14  Origin             180000 non-null  object
 15  Dest               180000 non-null  object
 16  Distance           180000 non-null  float64
 17  Cancelled          180000 non-null  int64
 18  Diverted           180000 non-null  int64
 19  Delayed            180000 non-null  object
dtypes: float64(6), int64(10), object(4)
memory usage: 27.5+ MB
None

In [ ]:
combined_df.to_csv('combined_finaldata.csv', index=False)