<a href="https://colab.research.google.com/github/shehbaz1033/BigDataAnalysisProject/blob/main/DatasetCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('1987.csv')

In [ ]:
record_count = len(df)

1311826

In [ ]:
summary = df.describe()
print(summary)

            Year         Month    DayofMonth     DayOfWeek       DepTime  \
count  1311826.0  1.311826e+06  1.311826e+06  1.311826e+06  1.311826e+06
mean      1987.0  1.099374e+01  1.571761e+01  3.949043e+00  1.369276e+03
std          0.0  8.232012e-01  8.835640e+00  1.986290e+00  4.751129e+02
min       1987.0  1.000000e+01  1.000000e+00  1.000000e+00  1.000000e+00
25%       1987.0  1.000000e+01  8.000000e+00  2.000000e+00  9.500000e+02
50%       1987.0  1.100000e+01  1.600000e+01  4.000000e+00  1.354000e+03
75%       1987.0  1.200000e+01  2.300000e+01  6.000000e+00  1.747000e+03
max       1987.0  1.200000e+01  3.100000e+01  7.000000e+00  2.400000e+03

         CRSDepTime       ArrTime    CRSArrTime     FlightNum  TailNum  ...  \
count  1.311826e+06  1.311826e+06  1.311826e+06  1.311826e+06      0.0  ...
mean   1.361131e+03  1.493152e+03  1.491052e+03  6.701427e+02      NaN  ...
std    4.719701e+02  4.942628e+02  4.868002e+02  5.145510e+02      NaN  ...
min    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00      NaN  ...
25%    9.400000e+02  1.121000e+03  1.115000e+03  2.910000e+02      NaN  ...
50%    1.338000e+03  1.512000e+03  1.519000e+03  5.600000e+02      NaN  ...
75%    1.742000e+03  1.914000e+03  1.912000e+03  8.940000e+02      NaN  ...
max    2.359000e+03  2.400000e+03  2.400000e+03  6.282000e+03      NaN  ...

       TaxiIn  TaxiOut     Cancelled  CancellationCode      Diverted  \
count     0.0      0.0  1.311826e+06               0.0  1.311826e+06
mean      NaN      NaN  1.500580e-02               NaN  2.908160e-03
std       NaN      NaN  1.215756e-01               NaN  5.384891e-02
min       NaN      NaN  0.000000e+00               NaN  0.000000e+00
25%       NaN      NaN  0.000000e+00               NaN  0.000000e+00
50%       NaN      NaN  0.000000e+00               NaN  0.000000e+00
75%       NaN      NaN  0.000000e+00               NaN  0.000000e+00
max       NaN      NaN  1.000000e+00               NaN  1.000000e+00

       CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
count           0.0           0.0       0.0            0.0                0.0
mean            NaN           NaN       NaN            NaN                NaN
std             NaN           NaN       NaN            NaN                NaN
min             NaN           NaN       NaN            NaN                NaN
25%             NaN           NaN       NaN            NaN                NaN
50%             NaN           NaN       NaN            NaN                NaN
75%             NaN           NaN       NaN            NaN                NaN
max             NaN           NaN       NaN            NaN                NaN

[8 rows x 26 columns]

In [ ]:
null_count_per_column = df.isna().sum()

# Display the result
print("Number of null values per column:")
print(null_count_per_column)

Number of null values per column:
Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime                    0
CRSDepTime                 0
ArrTime                    0
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum              1311826
ActualElapsedTime          0
CRSElapsedTime             0
AirTime              1311826
ArrDelay                   0
DepDelay                   0
Origin                     0
Dest                       0
Distance                   0
TaxiIn               1311826
TaxiOut              1311826
Cancelled                  0
CancellationCode     1311826
Diverted                   0
CarrierDelay         1311826
WeatherDelay         1311826
NASDelay             1311826
SecurityDelay        1311826
LateAircraftDelay    1311826
dtype: int64

In [ ]:
# Fill NaN values in a specific column ('column_name') with the mean of that column
df['DepTime'] = df['DepTime'].fillna(df['DepTime'].mean())
df['ArrTime'] = df['ArrTime'].fillna(df['ArrTime'].mean())
df['ActualElapsedTime'] = df['ActualElapsedTime'].fillna(df['ActualElapsedTime'].mean())
df['CRSElapsedTime'] = df['CRSElapsedTime'].fillna(df['CRSElapsedTime'].mean())
df['ArrDelay'] = df['ArrDelay'].fillna(df['ArrDelay'].mean())
df['DepDelay'] = df['DepDelay'].fillna(df['DepDelay'].mean())

In [ ]:
df.to_csv('1987_cleaned.csv', index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311826 entries, 0 to 1311825
Data columns (total 29 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               1311826 non-null  int64
 1   Month              1311826 non-null  int64
 2   DayofMonth         1311826 non-null  int64
 3   DayOfWeek          1311826 non-null  int64
 4   DepTime            1311826 non-null  float64
 5   CRSDepTime         1311826 non-null  int64
 6   ArrTime            1311826 non-null  float64
 7   CRSArrTime         1311826 non-null  int64
 8   UniqueCarrier      1311826 non-null  object
 9   FlightNum          1311826 non-null  int64
 10  TailNum            0 non-null        float64
 11  ActualElapsedTime  1311826 non-null  float64
 12  CRSElapsedTime     1311826 non-null  int64
 13  AirTime            0 non-null        float64
 14  ArrDelay           1311826 non-null  float64
 15  DepDelay           1311826 non-null  float64
 16  Origin             1311826 non-null  object
 17  Dest               1311826 non-null  object
 18  Distance           1311826 non-null  float64
 19  TaxiIn             0 non-null        float64
 20  TaxiOut            0 non-null        float64
 21  Cancelled          1311826 non-null  int64
 22  CancellationCode   0 non-null        float64
 23  Diverted           1311826 non-null  int64
 24  CarrierDelay       0 non-null        float64
 25  WeatherDelay       0 non-null        float64
 26  NASDelay           0 non-null        float64
 27  SecurityDelay      0 non-null        float64
 28  LateAircraftDelay  0 non-null        float64
dtypes: float64(16), int64(10), object(3)
memory usage: 290.2+ MB